@{
    var PageName = ViewContext.RouteData.Values["page"]?.ToString(); 
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Coursework</title>
    <link rel="stylesheet" href="~/fonts/fontface.css">
    <link rel="stylesheet" href="~/css/shell.css">
    <link rel="stylesheet" href="~/css/settings.css">
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
<main>
        <nav id="shell">
            <div id="mobile-shell" class="mobile">
                <div class="content">
                    <div class="hide-shell">
                        <img src="~/images/burger.svg" alt="">
                    </div>
                    <span class="title">
                        @ViewData["Title"]
                    </span>
                </div>
            </div>
            <div id="menu" class="hide">
                <div class="user-card-container">
                    <div class="user-card">
                        <div class="content">
                            <div class="image">
                                <img src="~/images/avatar.svg" alt="">
                            </div>
                            <div class="user-info">
                                <span class="status">Пользователь</span>
                                <span class="name">@ViewData["UserEmail"]</span>
                            </div>
                            <div class="config"><a href="/?handler=Logout" class="gear">
                                    <img src="~/images/logout.svg" alt="Logut">
                                </a></div>
                        </div>
                    </div>
                </div>
                <div id="shell-navigation">
                    <a asp-page="/Index" class="nav-item @(PageName == "/Index" ? "selected" : "")">
                        <div class="content">
                            <div class="icon">
                                <img src="~/images/lists.svg" alt="">
                            </div>
                            <span class="title">
                                Списки задач 
                            </span>
                        </div>
                    </a>
                    <a asp-page="/Reports" class="nav-item @(PageName == "/Reports" ? "selected" : "")">
                        <div class="content">
                            <div class="icon">
                                <img src="~/images/reports.svg" alt="">
                            </div>
                            <span class="title">
                                Мои отчёты
                            </span>
                        </div>
                    </a>
                </div>
                <button class="hide-shell">
                    <img src="~/images/arrow.svg" alt="">
                </button>
            </div>
        </nav>
        <section id="content">
            <div class="data">
                <div class="title">
                    @ViewData["Title"]
                    @if(ViewData["IsShowButton"] == "1"){
                        <button id="titleButton"></button>
                    }
                </div>
                @RenderBody()
            </div>
        </section>
    </main>


    <script src="~/js/shell.js"></script>
    <script src="~/js/loader.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
